.container{
    width: 70%;
    margin: 0 50px;
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
}

.link{
    margin: 5px;
    background-color: blue;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.link:hover{
    background-color: rgb(21, 21, 126);
}