.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 250px;
  justify-content: space-around;
}

.form input{
  font-size: 15px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
}

.padre{
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.formErr{
  display: none;
}