.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: 300px;
    width: 50%;
}

.form input{
    font-size: 20px;
    padding: 10px;
}

.btn{
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(17, 17, 131);
}

.delete{
    font-size: 20px;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.delete:hover{
    background-color: rgb(158, 26, 26);
}

.container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}