.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.delete{
  text-decoration:line-through;
}

.form{
  margin-top: 10px;
  width: 450px;
}

.form input{
  font-size: 25px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 3px solid black;
}

.form button{
  font-size: 25px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: blue;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lista{
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tarea{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  width: 90%;
  justify-content: space-around;
  padding: 10px;
}

.tarea p{
  font-size: 20px;
}

.tarea input{
  width: 30px;
}

.tarea button{
  cursor: pointer;
  background-color: red;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 18px;
}